---
Language: Cpp
BasedOnStyle: Google

TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
BraceWrapping:
  AfterCaseLabel:         true
  AfterClass:             true
  AfterControlStatement:  true
  AfterEnum:              true
  AfterFunction:          true
  AfterNamespace:         true
  AfterObjCDeclaration:   true
  AfterStruct:            true
  AfterUnion:             true
  AfterExternBlock:       true
  BeforeCatch:            true
  BeforeElse:             true
  IndentBraces:           false
BreakBeforeBraces: Custom
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: false
...
